body {
  font-family: Arial, sans-serif;
  background-image: url('pokehex.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff; /* color de fondo si sobra espacio */
  min-height: 100vh;
}

.poke-btn {
  background-color: #ffcc00;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.poke-card {
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.poke-card img {
  width: 120px;
}